
/* Start Frontpage Banner CSS*/
.frontpage-banner {
  background-image: url('../images/frontpage-banner.png');
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-color:#FF8038;
  background-size: 562px 315px;
  background-position: center bottom;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-top: 5px;
}

.frontpage-banner .title {
  color: #fff;
  line-height: 1.6em;
  opacity: .75;
  font-size: 12px;
  letter-spacing: .5px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.frontpage-banner .title2 {
  font-size: 2.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
/* End Frontpage Banner CSS */

/* Start Frontpage divs CSS */

.frontpage-right-navbar {
  background-color:#e6e6e6;
}

.text-cont .title {
  color: #b3b3b3;
  text-align: center;
  padding: 12px;
}

.text-cont .subtitle {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 300px;
  display: inline-block;
  padding-bottom: 10px;
}

.frontpage-cont {
  width: auto;
  height: auto;
  margin-top: 30px;
}

.col-md-4 > img {
  width: 100%;
  border-radius: 5px 5px 0 0 ;
}

.col-md-4 .text-cont {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
  font-size: 15px;
  padding: 8px;
  line-height: 1.5em;
  min-height: 50px;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: #f6f6f6;
  border: 1px solid #ececec;
  border-radius: 0 0 4px 4px;
  border-top: 0;
}
/* End Frontpage divs CSS */

/* Start Blog Banner CSS */
.blog-banner {
  background-image: url('../images/1.png');
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-color: #38D9FF;
  background-size: 562px 315px;
  background-position: center bottom;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-top: 5px;
}

.blog-banner .title {
  -webkit-transform: font-size .25s ease;
  -moz-transform: font-size .25s ease;
  -ms-transform: font-size .25s ease;
  -o-transform: font-size .25s ease;
  transform: font-size .25s ease;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3em;
  opacity: 1;
  font-size: 38px;
  width: 60%;
  display: inline-block;
  margin-top: 50px;
}

.blog-banner .title2 {
  font-size: 12px;
  letter-spacing: .5px;
  text-transform: uppercase;
  -webkit-transform: all .2s ease;
  -moz-transform: all .2s ease;
  -ms-transform: all .2s ease;
  -o-transform: all .2s ease;
  transform: all .2s ease;
  margin: 20px 0;
  color: rgba(255,255,255,.75);
  display: inline-block;
  width:50%;
}
/* End Blog Banner CSS */

/* Start Blog Content CSS */

.blog-post {
  margin-top: 50px;
  margin-right:20%;
  margin-left:20%;
}

.first>p:first-letter {
  font-size: 22px;
  line-height: 30px;
  font-size: 1.85em;
  line-height: 1.4em;
  color: #38d9ff;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.875em;
  font-weight: 700;
  line-height: 50px;
  margin: 6px 8px -5px 0;
}
.first>p {
  color: #222;
  font-family: Georgia,"Times New Roman",Times,sans-serif;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 23px;
}

.second,.box>p,ul,li {
  font-size: 19px;
  line-height: 29px;
  color: #222;
  font-family: Georgia,"Times New Roman",Times,sans-serif;
  line-height: 25.5px;
  margin-bottom: 23px;
}
.second>h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 1.8em 0 .8em;
  color: #1d2b36;
  letter-spacing: .2px;
  -webkit-font-smoothing: auto;
}
.blog-post blockquote.large {
    border: 0;
    color: #a9afb3;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-size: 45px;
    letter-spacing: -.65px;
    line-height: 55px;
    margin: 1em -100px;
}
.blog-post .box {
  border-style: solid!important;
  border-width: 1px!important;
  border-color: #D6DDE3!important;
  background-color: #f9fafa!important;
  padding-left: 40px!important;
  padding-right: 40px!important;
  margin-bottom: 40px!important;
  margin-top: 40px!important;
}
.box h2 {
  margin: 20px 0 20px 0;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: #1d2b36;
  letter-spacing: .2px;
  -webkit-font-smoothing: auto;
  margin-bottom: 24px!important;
}
.blog-post h3 {
  font-size: 23px;
  line-height: 31px;
  font-weight: 600;
  margin: 2em 0 1em;
  letter-spacing: .2px;
  margin-bottom: 20px;
}
.box strong {
  font-size: 19px;
  line-height: 29px;
}
.box p {
  font-size: 1.28em!important;
  padding-bottom: 24px!important;
  margin: 0 0 10px;
  line-height: 29px;
}

/* End Blog Ccontent CSS */

/* Start Footer */

.hs-footer {
  padding: 1em 0!important;
  width: 100%;
  border: 0;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: content-box;
  display: block;
  height: 0;
  margin: 20px 0;
}
.hs-footer h1 {
  color: #4f5d6b;
  font-family: "Times New Roman", Times, sans-serif;
  font-weight:500;
  font-size: 13px;
  margin-bottom: 16px!important;
  margin-top: 0!important;
  text-transform: uppercase!important;
}
.hs-footer h2,
.hs-footer ul,
.hs-footer li {
  color: #93a1af;
  font-size: 12px;
  list-style-type: none;
  align: left;
  margin-left: -20px;
  margin-bottom: 5px;
}
.hs-footer h2:hover{
  color: #394956;
}

.hs-footer .col-sm-2,
.hs-footer .col-md-6,
.hs-footer .col-lg-3 {
  float: right;
  display: inline-block;
  text-align: right;
}
.col-sm-2 , col-md-6 , col-lg-3 > p {
  font-size: 13px;
  color: #72808e;
}
/* End Footer */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
}
