<!DOCTYPE html>
<html lang="en">
<head>
  <title>Front Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/mystyles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Start Top Navbar -->
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/hs_banner.png" width="152px" height="30px" ;></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Help Desk <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Email Management</a></li>
            <li><a href="#">Pricing</a></li>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Content <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Drop_1</a></li>
					<li><a href="#">Drop_2</a></li>
					<li><a href="#">Drop_3</a></li>
               </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Help <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Drop_1</a></li>
                <li><a href="#">Drop_2</a></li>
                <li><a href="#">Drop_3</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <img src="images/search_icon.png" width="25px;" height="25px";>
            </div>
            <button type="submit" class="btn btn-primary ">Subscribe</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <!-- End Top Navbar -->

  <!-- Start Banner -->
  <div class="frontpage-banner">
    <div class="title">FEATURED ARTICLE</div>
    <div class="title2">What Does It Mean to be 'Customer Service Oriented?'</div>
  </div>
  <!-- End Banner -->

  <!-- Start Navbar -->
  <div class="frontpage-right-navbar">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Most Recent</a></li>
        <li><a data-toggle="tab" href="#menu1">Popular</a></li>
        <li><a data-toggle="tab" href="#menu1">Growth</a></li>
        <li><a data-toggle="tab" href="#menu1">Support</a></li>
        <li><a data-toggle="tab" href="#menu1">Culture</a></li>
        <li><a data-toggle="tab" href="#menu1">Product</a></li>
        <li><a data-toggle="tab" href="#menu1">Help Desk Tips</a></li>
      </ul>
    </div>
  </div>
  <!-- End Navbar -->

  <!-- Start Tabs -->
  <div class="frontpage-cont">
    <div class="right-cont">
      <div class="tab-content">

        <!-- Start Menu 1 -->
        <div id="menu1" class="tab-pane fade in active">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <img src="images/1.png">
                <div class="text-cont">
                  <div class="title"> Support </div>
                  <div class="subtitle"> Take It or Leave It : What Help Desk Data Should You Migrate ? </div>
                </div>
              </div>
              <div class="col-md-4"><img src="images/2.png"></div>
              <div class="col-md-4">
                <img src="images/3.png">
                <div class="text-cont">
                  <div class="title"> Support </div>
                  <div class="subtitle"> How Our Remote Support Team Collaborates </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img src="images/4.png">
                <div class="text-cont">
                  <div class="title"> Growth </div>
                  <div class="subtitle"> The Supportive: The Challenge With Chat </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="images/5.png">
                <div class="text-cont">
                  <div class="title"> Support </div>
                  <div class="subtitle"> Phone Support: Call it a Comeback </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="images/6.png">
                <div class="text-cont">
                  <div class="title"> Support </div>
                  <div class="subtitle"> 200,000 Customer Conversations Later: What I Wish I'd Known From Day One </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img src="images/7.png">
                <div class="text-cont">
                  <div class="title"> Tips </div>
                  <div class="subtitle"> Help Desk Tip #15: How to Organize With Tags </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="images/8.png">
                <div class="text-cont">
                  <div class="title"> Support </div>
                  <div class="subtitle"> The Future of Customer Support </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="images/9.png">
                <div class="text-cont">
                  <div class="title"> Growth </div>
                  <div class="subtitle"> How Smart Retailers Are Using Customer Service To Drive Loyality </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img src="images/7.png">
                <div class="text-cont">
                  <div class="title"> Tips </div>
                  <div class="subtitle"> Help Desk Tip #14: Mastering Conversations in Help Scout </div>
                </div>
              </div>
              <div class="col-md-4"><img src="images/10.png"></div>
              <div class="col-md-4">
                <img src="images/11.png">
                <div class="text-cont">
                  <div class="title"> Growth </div>
                  <div class="subtitle"> How to Maintain Team Culture During Stressful Times </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img src="images/7.png">
                <div class="text-cont">
                  <div class="title"> Tips </div>
                  <div class="subtitle"> Help Desk Tip #13: Empower Your Customers With Self-Service,Chat and Help Desk Support </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="images/12.png">
                <div class="text-cont">
                  <div class="title"> Growth </div>
                  <div class="subtitle"> 5 Customer Service Tips for Early-Stage Startups </div>
                </div>
              </div>
              <div class="col-md-4">
                <img src="images/13.png">
                <div class="text-cont">
                  <div class="title"> Product </div>
                  <div class="subtitle"> Relates Notes: April </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Menu 1 -->

        <!-- Start Menu Sample
        <div id="menu2" class="tab-pane fade">
          <h3> tab 2 </h3>
        </div>

        <div id="menu3" class="tab-pane fade">
          <h3> tab 3</h3>
        </div>
            End Menu Sample -->

      </div>
    </div>
  </div>
  <!-- End Tabs -->
  <!-- Start Footer -->
  <div class="hs-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-1 col-md-4 col-lg-2">
          <h1>Features</h1>
          <ul>
            <li>Knowledge Base</li>
            <li>Embed Tools</li>
            <li>Integrations</li>
            <li>Reports</li>
            <li>Automation</li>
            <li>Teams</li>
            <li>iOS Apps</li>
            <li>Android App</li>
            <li>More Features</li>
          </ul>
        </div>
        <div class="col-sm-1 col-md-4 col-lg-2">
          <h1>Compare</h1>
          <ul>
            <li>Zendesk</li>
            <li>Desk.com</li>
            <li>Intercom</li>
            <li>UserVoice</li>
            <li>Freshdesk</li>
            <li>Outlook</li>
            <li>Gmail</li>
          </ul>
        </div>
        <div class="col-sm-1 col-md-4 col-lg-2">
          <h1>Case Studies</h1>
          <ul>
            <li>Creative Agency</li>
            <li>eCommerce</li>
            <li>Software</li>
            <li>Food &#38; Beverage</li>
            <li>Professional Services</li>
            <li>Education</li>
            <li>More Stories</li>
          </ul>
        </div>
        <div class="col-sm-1 col-md-4 col-lg-2">
          <h1>Company</h1>
          <ul>
            <li>About Us</li>
            <li>Careers</li>
            <li>Developers</li>
            <li>Privacy</li>
          </ul>
        </div>
        <div class="col-sm-2 col-md-6 col-lg-3">
          <img src="images/footer-logo.png" width="120px" height="35px" style="margin-bottom:15px;"/>
          <p>Made by hand in 40 cities around the world</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->

</body>
</html>
