<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog Post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/mystyles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Start Top Navbar -->
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/hs_banner.png" width="152px" height="30px" ;></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Help Desk <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Email Management</a></li>
            <li><a href="#">Pricing</a></li>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Content <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Drop_1</a></li>
					<li><a href="#">Drop_2</a></li>
					<li><a href="#">Drop_3</a></li>
               </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Help <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Drop_1</a></li>
                <li><a href="#">Drop_2</a></li>
                <li><a href="#">Drop_3</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <img src="images/search_icon.png" width="25px;" height="25px";>
            </div>
            <button type="submit" class="btn btn-primary ">Subscribe</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <!-- End Top Navbar -->

  <!-- Start Banner -->
  <div class="blog-banner">
    <div class="title">Take It or Leave It: What Help Desk Data Should You Migrate?</div>
    <div class="title2">MATHEW PETTERSON | MAY 25,2017</div>
  </div>
  <!-- End Banner -->

  <div class="container">
    <div class="blog-post">
      <div class="first">
        <p> Like moving, switching help desks can be a real pain. But it’s also a chance to improve your support team’s processes, get rid of clutter, and create new habits that make your life easier. </p>
      </div>
      <div class="second">
        <p> I recently spoke to Knowledge Bird’s Aprill Allen and data migration specialist Ashley Milne from Import2 about the challenges and opportunities of migrating help desk data. If you’re considering switching help desks, their tips will help you prepare and give you the best chance of a smooth data transition. </p>
        <h2>What help desk data should you migrate?</h2>
        <p>Your conversation history with your customers is incredibly valuable. It represents not only the topics and issues a customer has raised with you, but often the personal connections they have made with your team members.</p>
        <p>Migrating your help desk history allows for:</p>
        <ul>
          <li>Easy access to the history of your interactions with your customers</li>
          <li>Continuity of care — seeing who they have talked to and when</li>
          <li>One tool to work in (as opposed to keeping the old system for historical records)</li>
        </ul>
        <p>Generally speaking, moving as much data as possible to your new help desk will give your team and your customers a smoother ride through the transition period.</p>
        <h2>New help desk, new opportunities</h2>
        <p>Your new help desk may have capabilities that you didn’t have before. Milne sees a data migration as opening up new options:</p>
      </div>
      <blockquote class="large">
        “You don’t have to put your help desk data back in the same place!”
      </blockquote>
      <div class="second">
        <p>Before you begin planning your migration, consult with the support or sales team from your new help desk to learn what your options are. Particularly if you’ve had more than a year or two on your current help desk, revisiting your tagging strategy and workflows through the lens of your current needs will help you make significant performance improvements.</p>
      </div>
      <div class="box">
        <h2>Factors impacting a help desk migration</h2>
        <strong>What data is your current tool able to export?</strong>
        <p>Every system is different, so you need to know what you can move before you spend too much time on it.</p>
        <strong>Is there a well-developed API to use on both ends?</strong>
        <p>With solid, well-featured and documented API access (see Help Scout’s API docs for example), you have even more options for data migration.</p>
        <strong>Can you get help desk developer support?</strong>
        <p>Every migration is different, so being able to ask for assistance as part of your migration may be vital if things get complicated. (You might consider a specialist migration service who will likely have experience with your current and future help desk tools.)</p>
      </div>
      <div class="second">
        <p>When you know what is possible, you can focus on making a plan for what you will move, how you will move, and when. Data migration can be complex, so I asked both Milne and Allen for the most common data migration mistakes they had seen.</p>
        <h2>5 most common help desk migration mistakes</h2>
        <h3>1. Failure to test</h3>
        <p>Allen and Milne both mentioned a lack of solid testing as the most common overarching cause of problems. Before committing to the full migration, run smaller migrations of smaller data sets, and have multiple people check the end result for accuracy.</p>
        <p>Look for items like broken knowledge links, missing conversations, or conversations assigned to the wrong people and incorrect tags. It’s much better to identify problems before you’ve tried to move the entire history over.</p>
        <h3>2. Data not correctly mapped between tools</h3>
        <p>While your help desk tool will typically take care of data mapping for you (see our “Scout’s Guide to Switching Help Desks” for one example), there can be edge cases.</p>
        <p>When two help desk systems have different ways of handling features, data can be mixed up in the transition. Ask for help and a sanity check from your help desk support team, or work with a data migration system to reduce the risk.</p>
        <h3>3. Agent accounts not created in the new tool</h3>
        <p>Trying to migrate an agent’s tickets into a new system in which that agent doesn’t yet exist will cause delays and confusion. Create the agents first, before starting the move.</p>
        <h3>4. Not leaving enough time for the move</h3>
        <p>If you’re working with a lot of data or an API that throttles your access, then migrations can take quite a while. Ask up front for advice from your new tool on how and when to schedule the migration tasks to minimize down time while you wait.</p>
        <h3>5. Forgetting sources of incoming support</h3>
        <p>While everyone remembers to direct their main support email into the new tool, it’s easy to forget the less frequently used sources of support — old email addresses used in forums, API integrations that create tickets, and the like. Conduct a ticket audit before a migration to identify all the sources you can find, and save your future self a whole lot of trouble!</p>
        <h3>Prepare, prepare, prepare</h3>
        <p>Support teams can find it tough to carve out blocks of time, but good preparation really is the key to smooth help desk data migration. While it is tempting to just start throwing everything haphazardly into boxes and sealing the whole thing up, putting in the work beforehand will help you get the most out of your new tool.</p>
        <p>If you’re really tight on time, or you have a complicated data set to move, consider hiring a data migration service or a knowledge consultant and let them help you avoid the pitfalls.</p>
        <p>Whether you do it yourself or you have a team helping, our help desk migration checklist should help keep you on track.</p>
      </div>
    </div>
  </div>

  <!-- Start Footer -->
  <div class="hs-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-1 col-md-4 col-lg-2">
          <h1>Features</h1>
          <ul>
            <li>Knowledge Base</li>
            <li>Embed Tools</li>
            <li>Integrations</li>
            <li>Reports</li>
            <li>Automation</li>
            <li>Teams</li>
            <li>iOS Apps</li>
            <li>Android App</li>
            <li>More Features</li>
          </ul>
        </div>
        <div class="col-sm-1 col-md-4 col-lg-2">
          <h1>Compare</h1>
          <ul>
            <li>Zendesk</li>
            <li>Desk.com</li>
            <li>Intercom</li>
            <li>UserVoice</li>
            <li>Freshdesk</li>
            <li>Outlook</li>
            <li>Gmail</li>
          </ul>
        </div>
        <div class="col-sm-1 col-md-4 col-lg-2">
          <h1>Case Studies</h1>
          <ul>
            <li>Creative Agency</li>
            <li>eCommerce</li>
            <li>Software</li>
            <li>Food &#38; Beverage</li>
            <li>Professional Services</li>
            <li>Education</li>
            <li>More Stories</li>
          </ul>
        </div>
        <div class="col-sm-1 col-md-4 col-lg-2">
          <h1>Company</h1>
          <ul>
            <li>About Us</li>
            <li>Careers</li>
            <li>Developers</li>
            <li>Privacy</li>
          </ul>
        </div>
        <div class="col-sm-2 col-md-6 col-lg-3">
          <img src="images/footer-logo.png" width="120px" height="35px" style="margin-bottom:15px;"/>
          <p>Made by hand in 40 cities around the world</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->

</body>
</html>
